section {
    position: relative;
}

.flashMsg {
    position: absolute;
    right: 0px;
    z-index: 10;
    margin: 0.5rem;
    justify-self: center;
}

label {
    margin-top: .5rem;
}

.msg-fmt {
    margin: 1rem;
}